* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#productList {
    color: #1d1d1d;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    gap: 20px;
}

#productList img {
    margin: 0 auto;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}